<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kh.com.mysabay.sdk">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
    </application>

</manifest>